
.nav-link:hover{
  font-weight: bold;
}

#home{
  background-color: #FFC000;
}

.navbar-brand{
font-family: "Caveat", cursive;
font-weight: bold;
font-size: xx-large;
}

h1{
font-family: "Caveat", cursive;

}

.myheadline{
font-family: "Zilla Slab", serif;
}

#project{
  background-color: #FFC000;
}

.card{
  box-shadow: 3px 3px 5px 0px gray;

}

.mycard  :hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.myprofil{
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

.card-text{
text-align: justify;
}

.nav-link,.card-text, .form-label, .btn{
font-family: "Quicksand", sans-serif;
}

.mypost{
  width: 95%;
  max-width: 500px;
  margin: 0px auto 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 10px;
}

i{
  font-size: 25px;
}

