<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Protofolio | Muh Kasmin</title>
    <!-- link Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <!-- Boostrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- link AOS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--link CSS  -->
 <link rel="stylesheet" href="../static/style.css">
<!-- link Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+KR&family=Quicksand:wght@300..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm ">
      <div class="container " >
        <a class="navbar-brand" href="#">MuhKasmin.Dev</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#profil">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar end -->


    <!-- Home -->
</section >
<section id="home" class=" pt-5" >
  <div class="container">
    <div class="row align-items-center  gy-5 py-5  text-center">
      <div class="col-12 col-sm-12 col-md-6  col-lg-6">
        <img src="../static/foto.jpeg" class="shadow-lg d-block mx-auto mx-sm-auto  mx-md-auto   img-fluid img-thumbnail rounded-circle" alt="Bootstrap Themes"  loading="lazy " data-aos="flip-right" data-aos-duration="2500"/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
        <h1 class="display-4 fw-bold text-body-emphasis lh-1 mb-3 text-sm-center text-lg-start"  >I'am <span class="link-danger">Muh. Kasmin</span></h1>
        <p class="lead myheadline text-sm-center text-lg-start">Mahasiswa | Fullstack Web Developer</p>
      </div>
    </div>
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFBF00" fill-opacity="1" d="M0,192L48,170.7C96,149,192,107,288,122.7C384,139,480,213,576,202.7C672,192,768,96,864,85.3C960,75,1056,149,1152,181.3C1248,213,1344,203,1392,197.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z" class="svg1"></path> </svg>
    <!-- Home end -->


    <!-- Profil -->
    <section id="profil">
        <div class="container py-5 ">
          <div class="row flex-row-reverse  align-items-center gy-5 py-5 justify-content-evenly  text-center">
            <div class="col-10 col-sm-10 col-md-12  col-lg-4">
              <img src="../static/foto.jpeg" class="shadow-lg d-block mx-auto mx-sm-auto  mx-md-auto  mx-lg-auto img-fluid img-thumbnail rounded-circle" alt="Bootstrap Themes"  loading="lazy " data-aos="flip-right" data-aos-duration="2500" />
            </div>
            <div class="col-10 col-sm-10 col-md-12 col-lg-6 ">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 pb-3 mb-3 border-bottom" data-aos="fade-right" data-aos-duration="1000">Profil</h1>
              <p class="lead myprofil" data-aos="zoom-in" data-aos-duration="1000">Saya Muh Kasmin Mahasiswa Universitas Cokroaminoto Palopo Program studi Informatika semester 6 yang sekarang mengikuti program MSIB BACT 6.</p>
            </div>
          </div>
        </div>
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC000" fill-opacity="1" d="M0,96L40,117.3C80,139,160,181,240,192C320,203,400,181,480,144C560,107,640,53,720,48C800,43,880,85,960,112C1040,139,1120,149,1200,128C1280,107,1360,53,1400,26.7L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>
      </section>
    <!-- Profil end -->


    <!-- Project -->
    <section id="project" >
        <div class="container pb-5 pt-5">
          <div class="row ">
            <div class="col">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 pb-3 mb-5  text-center" data-aos="zoom-in" data-aos-duration="1000">My Project</h1>
            </div>
        </div>
            <div class="row">
                <div class="col mycard col-12 col-sm-12 col-md-6 col-lg-4 mb-4" data-aos="flip-left" data-aos-duration="2000">
                    <div class="card mx-auto  " style="width: 18rem;">
                        <img src="../static/prj1.png" class="card-img-top" alt="Project1">
                        <div class="card-body">
                          <h5 class="card-title">Login page</h5>
                          <p class="card-text">Pembuatan Login page ini menggunakan HTML dan CSS.</p>
                        </div><br>
                      </div>
                </div>
                <div class="col mycard col-12 col-sm-12 col-md-6 col-lg-4 mb-4" data-aos="flip-left" data-aos-duration="2000">
                    <div class="card  mx-auto " style="width: 18rem;" >
                        <img src="../static/prj2.png" class="card-img-top" alt="Project2">
                        <div class="card-body">
                          <h5 class="card-title">Fanbook</h5>
                          <p class="card-text">Pembuatan fanbook ini menggunakan HTML, CSS, dan Framework Boostrap.</p>
                        </div>
                      </div>
                </div>
                <div class="col mycard col-12 col-sm-12 col-md-6 col-lg-4 mb-4" data-aos="flip-left" data-aos-duration="2000">
                    <div class="card mx-auto " style="width: 18rem;">
                        <img src="../static/prj3.png" class="card-img-top" alt="Project3">
                        <div class="card-body">
                          <h5 class="card-title">Portofolio</h5>
                          <p class="card-text">Pembuatan portofolio ini menggunakan HTML, CSS, JS dan Framework Boostrap.</p>
                        </div>
                      </div>
                </div>
                <div class="col mycard col-12 col-sm-12 col-md-6 col-lg-4 mb-4" data-aos="flip-left" data-aos-duration="2000">
                    <div class="card mx-auto " style="width: 18rem;" >
                        <img src="..//static/prj4.png" class="card-img-top" alt="Project4">
                        <div class="card-body">
                          <h5 class="card-title">Aplikasi Administrasi</h5>
                          <p class="card-text">Pembuatan aplikasi ini menggunakan bahasa pemrograman Java </p>
                        </div>
                      </div>
                </div>
                <div class="col mycard col-12 col-sm-12 col-md-6 col-lg-4 mb-4" data-aos="flip-left" data-aos-duration="2000">
                    <div class="card mx-auto " style="width: 18rem;">
                        <img src="../static/pjr5.png" class="card-img-top" alt="Project5">
                        <div class="card-body">
                          <h5 class="card-title">Aplikasi Penggajian</h5>
                          <p class="card-text">Pembuatan aplikasi ini menggunakan bahasa pemrograman Visual Basic</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </section>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC000" fill-opacity="1" d="M0,64L48,85.3C96,107,192,149,288,186.7C384,224,480,256,576,224C672,192,768,96,864,69.3C960,43,1056,85,1152,101.3C1248,117,1344,107,1392,101.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
    <!-- Project end -->


    <!-- Contact -->
    <section id="contact">
        <div class="container pt-5">
            <div class="row ">
                <div class="col">
                  <h1 class="display-5 fw-bold text-body-emphasis lh-1 pb-3 mt-4 mb-3 mb-sm-5 mb-md-5 mb-lg-5  text-center" data-aos="zoom-in" data-aos-duration="2000">Contact Me</h1>
                </div>
            </div>
            <div class="mypost" data-aos="fade-up" data-aos-duration="1000">
          <div class="row  justify-content-center">
            <div class="col-11 col-sm-10 col-md-10  col-lg-10 " >
                <form class=" row ">
                    <div class="mb-3">
                      <label for="name" class="form-label ">Nama Lengkap</label>
                      <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Masukan Nama Lengkap">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Masukan Email">
                      </div>
                      <div class="mb-3">
                        <label for="pesan" class="form-label">Pesan</label>
                        <textarea class="form-control" id="pesan" rows="3" placeholder="Masukan Pesan"></textarea>
                      </div>
                    <button type="submit" class="btn btn-dark  ">Kirim</button>
                  </form>
            </div>
          </div>
        </div>
        </div>
      </section>
    <!-- Contact end -->


    <!-- Footer -->
    <section >
        <div class="container-fluid px-0 mt-5 ">
          <footer>
            <ul class="nav justify-content-center border-bottom ">
              <li class="nav-item"><a href=" https://www.instagram.com/mhkasmin?igsh=ZmVweXNlYXF2MGc0" class="nav-link px-2 text-body-secondary"><i class="bi bi-instagram "></i></a></li>
              <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary"><i class="bi bi-linkedin"></i></a></li>
              <li class="nav-item"><a href="https://github.com/kasminuncp123" class="nav-link px-2 text-body-secondary"><i class="bi bi-github"></i></a></li>
            </ul>
            <p class="text-center text-body-secondary m-0  pt-3 pb-3">&copy; 2024 Muh Kasmin, Inc</p>
          </footer>
        </div>
      </section>
    <!-- Footer end -->

    <!-- JS Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- JS AOS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- JS GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
  <script>
    gsap.registerPlugin(TextPlugin)
    gsap.defaults({ease:" "});
    const tl = gsap.timeline({repeat:4, repeatDelay:0.5,delay: 1.8, yoyo:true});
    tl.from(".myheadline", {duration: 2, text:""})
    gsap.from('.svg1', {duration : 1.5, y: -90, opacity : 1 })
    gsap.from('.display-4', { duration: 1, x: 100, opacity: 0, delay: 0.5, ease: 'back'})
  </script>
  </body>
</html>
